<section data-ng-controller="TasksController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Task</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="task.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
				    <div class="controls well">
						<label class="control-label" for="completed">Has the task been completed?</label> </br>
						<label class="control-label" for="completed">Current answer is {{task.completed}}.</label>
						</br></br>
						<p>Completed</p>
						<input type="radio" data-ng-model="task.completed" id="completed" value="true" class="float-left radio" checked></input>
						</br>
						<p>Not Completed</p>
						<input type="radio"  data-ng-model="task.completed" id="completed" value="false" class="float-left radio" checked>
					</div>
				</div>
                <div class="form-group pull-left">
                    <input type="submit" value="Update" class="btn btn-primary">
					<a class="btn btn-primary" data-ng-click="remove();">
						Delete
					</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>