<section data-ng-controller="TasksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tasks</h1>
		<a class="btn btn-lg btn-primary float-right" href="/#!/tasks/create">
			Create New Task
		</a>
    </div>
    <div class="list-group">
        <div data-ng-repeat="task in tasks" class="list-group-item well" data-ng-show="((authentication.user) && (authentication.user._id == task.user._id))">
		<div class="body">
			<div class="row">
				<small class="list-group-item-text pull-right" style="padding-right:15%">
					Posted on
					<span data-ng-bind="task.created | date:'medium'"></span>
					by
					<span data-ng-bind="task.user.displayName"></span>
				</small>
				</br>
			</div>
				<div class="row">
					<div class="col col-lg-3">
						<h1><div class="label label-success label-lg" ng-if="task.completed">
							<i class="glyphicon glyphicon-check"></i> Complete
						</div></h1>
						<h1><div class="label label-warning label-lg float-left" ng-if="!task.completed">
							<i class="glyphicon glyphicon-unchecked"></i> Incomplete
						</div></h1>
						<a class="btn btn-lg btn-primary float-left" href="/#!/tasks/{{task._id}}">
							Status
						</a>
						<a class="btn btn-lg btn-primary float-left" href="/#!/tasks/{{task._id}}/edit">
							<i class="glyphicon glyphicon-edit"></i> Edit
						</a>
					</div>
					<div class="col col-lg-8">
						<h3 class="list-group-item-heading" style="margin-top:1em" data-ng-bind="task.name"></h3>
					</div>
				</div>
			</div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tasks.$resolved || tasks.length">
    	No Tasks yet, why don't you <a href="/#!/tasks/create">create one</a>?
    </div>
</section>