<section data-ng-controller="TasksController" data-ng-init="findOne()">
	<div class="page-header" data-ng-show="((authentication.user) && (authentication.user._id == task.user._id))">
		<a class="btn btn-lg btn-success float-left" ng-if="task.completed" ng-click="task.completed=!task.completed; update();">
				<i class="glyphicon glyphicon-check"></i> Complete
		</a>
		<a class="btn btn-lg btn-warning float-left" ng-if="!task.completed" ng-click="task.completed=!task.completed; update();">
			<i class="glyphicon glyphicon-unchecked"></i> Incomplete
		</a>
		<a class="btn btn-lg btn-primary float-left" href="/#!/tasks/{{task._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i> Edit
		</a>
		<a class="btn btn-lg btn-primary float-left" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i> Remove Task
		</a>
		<h1>Task Name: {{task.name}}</h1>
		<h2>Date Created: {{task.created | date:'mediumDate'}}
		<h2 ng-if="task.completed"> Task Status: Complete <h2>
		<h2 ng-if="!task.completed"> Task Status: Incomplete <h2>
		<h3><a href="/#!/tasks">return to tasks</a></h3>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="task.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="task.user.displayName"></span>
		</em>
	</small>
</section>
